body {
    color: #040404;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  gap: 5px;
  position: relative;
  width: calc(4 * 100px + 3 * 5px);
  height: calc(4 * 100px + 3 * 5px); 
  border: 1px solid #000;
}

#game-board img {
  width: 100px;
  height: 100px;
  position: absolute;
}


.goblin .results {
    font-size: 22px;
    color: #000000;
    text-align: center;
}

.goblin .results span {
    font-weight: bold;
}

.goblin .results .score {
    margin-right: 20px;
}

.goblin .row {
    display: flex;
}

/*.goblin .col {
    width: 100px;
    height: 100px;
    border: 1px solid #000000;
    border-radius: 20px;
    margin: 2px;
    padding: 2px;
}*/

.goblin .col.active {
    background-image: url('../img/goblin.png');
    background-size: cover;
}

.custom-cursor {
    width: 32px;
    height: 32px;
    position: absolute;
    pointer-events: none;
    background-image: url('../img/hammer.png') no-repeat center center;
    background-size: contain;
}


#hammer-cursor {
    position: absolute;
    pointer-events: none;
    width: 32px;
    height: 32px;
    background-size: contain;
}